@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");

body {
    color: #1e1e1e;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-family: Menlo,Meslo LG,monospace;
	font-size: 12.5px;
	line-height: 1.725;
    margin: auto;
    padding: 1em;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

blockquote {
    float: right;
    margin: 0;
    position: absolute;
    right: 1em;
    top: 0;
    top: 1em;
}

blockquote ul {
    list-style: none;
}

a:link, a:visited {
    color: #1e1e1e;
}

