@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');

body {
    color: #1e1e1e;
    background-color: #fefefe;
    font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 1.5;
    margin: 0 auto;
    max-width: 80%;
    padding: 2em 0;
}

h1 { 
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: .1em;
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 600;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 0.85em;
}

h3 {
    margin: 0;
    font-weight: 800;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 0.85em;    
}

h4 {
    margin: 0;
    font-weight: 600;
    letter-spacing: .2em;
    text-transform: uppercase;
    
}

h3 small {
    color: #5e5e5e;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: .5em;
    letter-spacing: .2em;
}

section {
    margin: 2em 0;
    /* page-break-inside: avoid; */
}

article {
    margin: 1em 0;
    page-break-inside: avoid;
}

blockquote {
    margin: 0;
    font-size: 0.85em;
}

blockquote ul {
    list-style: none;
    padding: 0;
}

blockquote b {
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85em;
}