@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");

/* clearfix */

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom: 1;
}

body {
    color: #1e1e1e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    padding: 1em;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 0;
    top: 0;
    float: right;
    right: 1em;
    top: 1em;
    position: absolute;
}

blockquote ul {
    list-style: none;
}

a:link, a:visited {
    color: #1e1e1e;
}

